
// structure
.section-title1 {
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    font-family: $font-family2;
    position: absolute;
    background-color: blue;
    border: 1px solid black;
}
